
@font-face {
    font-family: "Computer Modern";
    src: url('http://spratt.github.io/Computer-Modern/cmunss.otf');
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://spratt.github.io/Computer-Modern/cmunsx.otf');
    font-weight: bold;
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://spratt.github.io/Computer-Modern/cmunsi.otf');
    font-style: italic, oblique;
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://spratt.github.io/Computer-Modern/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
  }
