
/*
  #253D59 #4B688A #F4F4F2 #A6793D #724C2A

  #F7EFF6 #C4C4BD #56BED7 #D43215 #453B3D

  #FF0000 #FF950B #2FA88C #DEEB00 #4B2C04

  #555555 #7BB38E #F4F1D7 #F8AB65 #F15C4C

  #EB5937 #1C1919 #403D3C #456F74 #D3CBBD

  #2C3E50 #FC4349 #D7DADB #6DBCDB #FFFFFF

  #405952 #9C9B7A #FFD393 #FF974F #F54F29

  #325A66 #FFF8B2 #DEA140 #A32B26 #590D0B

  #F16663 #F48D6C #F2E07B #8ABE9B #4A6D8B

  #E5DD00 #8CB202 #008C74 #004C66 #332B40

  #B0CC99 #677E52 #B7CA79 #F6E8B1 #89725B

  #588C7E #F2E394 #F2AE72 #D96459 #8C4646

  #302B2F #696153 #FFA600 #9BB58F #FFD596

  #60655F #AB9675 #FFE0C9 #D4CCBA #CF8442

  #25CCF7 #EAB543 #55E6C1 #D6A2E8 #BDC581 #F8EFBA #FD7272
*/

:root {
    --bodyBgColor:            #FFFFFF;
    --bodyTextColor:          #453B3D;
    --headerColor:            #453B3D;
    --subHeaderColor:         #C4C4BD;
    --postsBgColor:           #F7EFF6;
    --postHeaderColor:        #453B3D;
    --boxHoverBgColor:  transparent;
    --boxTextColor:     #453B3D;
    --boxTextColorH:    #453B3D;
    --boxBorderColorH:  #FF950B;
    --tagDefaultC:      #000000;
    --tagUncheckedC:    #FFFFFF;
    --tag1C:            #60655F;
    --tag2C:            #AB9675;
    --tag3C:            #FFE0C9;
    --tag4C:            #D4CCBA;
    --tag5C:            #CF8442;
    --descriptionTextColor:   #FFFFFF;
    --descriptionBgColor:     rgba(0,0,0,.62);

    --QuoteColor:             #A6793D;
    --linkColor:              #724C2A;
    --codeColor:              #4B688A;




}









/*-------------------------------------------
    Base
-------------------------------------------*/
* { margin: 0; padding: 0; }
html { font-size: 62.5%; } /* for rems */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--bodyTextColor);
  background-color: var(--bodyBgColor);
}


/* block level */

h1#design { font: bold 4.2rem Helvetica, Arial, sans-serif; margin: 0 0 0.5em; }
h2#design { font: bold 1.8rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }
h3#design { font: bold 4.5rem 'Almendra Display'; margin: 0 0 1em; }
h4#design, h5#design, h6#design { font: bold 1.2rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }


p, ul, dl, ol, table { font-size: 16px; margin: 0 0 1.5em; }

form { margin: 0 0 1.5em; }

/* inline */

label { font-size: 1.6rem; }
input, select, textarea {  }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { }
input.empty::-webkit-input-placeholder, textarea.empty::-webkit-input-placeholder { color: red; }
input.empty:-moz-placeholder, textarea.empty:-moz-placeholder { color: red; }
.error { color: red; }

table { }
    td { padding: 0.25em 1em;
      border-top: 1px solid #aaa; }

em { font-style: italic; }
strong { font-weight: bold; }

mark { background: none; font-style: normal; }

video { width: 100%; height: auto; }

a {
	text-decoration: none;
  color: var(--linkColor);
  position: relative;
	    transition: all 0.25s linear;
   -moz-transition: all 0.25s linear;
-webkit-transition: all 0.25s linear;
	 -o-transition: all 0.25s linear;
}

a:after {
	content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -0.2em;
  left: 0;
  opacity: 0;
	    transition: all 0.25s linear;
   -moz-transition: all 0.25s linear;
-webkit-transition: all 0.25s linear;
	 -o-transition: all 0.25s linear;
}


img { display: block; margin: 0 10px 10px 0; max-width: 100%; }

a img { border: none; }


abbr, abbr[title], acronym { font-size: 75%; letter-spacing: 0.2em; text-transform: uppercase; border: none; }


code {
  font: 1.4rem/1 Consolas, 'Courier New', Courier, monospace;
  font-weight: 400;
  display: block;
  color: var(--codeColor);
  white-space: pre;
}

sub, sup { line-height: 0; }

::selection { background: #d5d9dc; color: #333; }
::-moz-selection { background: #d5d9dc; color: #333; }


/*-------------------------------------------
	Modules
-------------------------------------------*/
.page-wrapper { width: 90%; margin: 0 auto; }

.main h3#design, .post h3#design, .select {
  visibility: hidden;
  font-size: 4.5rem;
  /*text-transform: uppercase;*/
  letter-spacing: 0.1em;
  color: var(--postHeaderColor);
}
.wf-active .main h3#design, .wf-active .post h3#design { font-weight: 900; }

.main h3#design:after, .post h3#design:after, .select:after { visibility: visible; display: block; }

/*.main p, .post p { font-size: 2rem; }*/
/*.wf-active .main p, .wf-active .post p { line-height: 1.4; }*/



/*-------------------------------------------
	Banner
-------------------------------------------*/
[role="banner"] h1#design {
  padding: 1em 0 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 3.5rem;
  font-weight: 900;
  color: var(--headerColor);
  visibility: hidden; }
[role="banner"] h1#design:before {
  content: attr(title);
  visibility: visible;
  display: block; }
[role="banner"] h1#design:after {
  content: attr(subtitle);
  visibility: visible;
  display: block;
  color: var(--subHeaderColor);
  letter-spacing: 0.5em;
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0.5em 0 3em;
}



/*-------------------------------------------
    Preamble
-------------------------------------------*/
.summary p {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.8rem;
  line-height: 1.6;
}

.mainheader {
  color: var(-contentHeaderColor);
  text-align: center;
  font-size: 50;
  font: bold 4.2rem Helvetica, Arial, sans-serif;
  /* padding: 2em 2em 2em 2em; */
}

.container {
  padding: 1em 10% 1em 10%;
  margin-bottom: 5em;
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21?28, Safari 6.1+ */
  display:flex;
  background-color: var(--postsBgColor);
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  z-index: 1;
}

.box {
  /* flex:         1 1 */
  color:              var(--boxTextColor);
  font-size: calc(10vw+10vh+10vmin);
  padding: 5px 5px;
  text-decoration: none;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 3px;
  margin: 3px 3px auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  transition: background-color 0.4s,
              border-color 0.4s,
              border-radius 0.4s;
}

/* Tag colors */
.box[tag=math]{
  background-color:   var(--tag1C);
  border-color:       var(--tag1C);
}

.box[tag=phys]{
  background-color:   var(--tag2C);
  border-color:       var(--tag2C);
}

.box[tag=prog]{
  background-color:   var(--tag3C);
  border-color:       var(--tag3C);
}

.box[tag=other]{
  background-color:   var(--tag4C);
  border-color:       var(--tag4C);
}


.box:hover{
  border-radius: 60px 60px 60px 60px;
  background-color: var(--boxHoverBgColor);
  border-color: var(--boxBorderColorH);
  color: var(--boxTextColorH);
}


.tagFilter {
  display: inline-block
}


.checkboxContainer {
  display: inline-block;
  margin: 0.2em 0 0.2em 0.5em;
  padding: 0.2em 0.2em 0.2em 0.5em;
  border-radius: 8px;
  background-color: var(--postsBgColor);
}

input[type='checkbox'] {
  display:inline-block;
  margin: 0 auto;
  -webkit-appearance: button;
  border:none;
  background-color: var(--tagUncheckedC);
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: -0.5em;
  width: 30px;
  height: 15px;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  transition: background-color 1s;
}
input[type='checkbox']:after{
  content: "";
  display: block;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 50%;
  height: 80%;
  background-color: transparent;
  margin: 5%;
  border-radius: 5px;
  background: var(--postsBgColor);
  transition: .5s all;
}

input[type='checkbox']:checked:after {
  left: 40%;
}

input[type='checkbox']:checked{
  background-color: var(--tagDefaultC);
}

input[tag='math']:checked{
  background-color: var(--tag1C);
}
input[tag='phys']:checked{
  background-color: var(--tag2C);
}
input[tag='prog']:checked{
  background-color: var(--tag3C);
}
input[tag='other']:checked{
  background-color: var(--tag4C);
}








/*-------------------------------------------
    POST
-------------------------------------------*/

.post {
  visibility: visible;
}
.post h3#design:after {
  visibility: visible;
  content: attr(title);
}


footer { font-size: 1.3rem; }
footer a { margin-left: 1em; }
footer a:first-child { margin-left: 0; }




/*
  iPhone 4      320px - 480px
  iPhone 6      375px - 667px
  iPhone 6+     414px - 736px
  Laptops       1224px - ?
  large screen  1824px - ?
*/

/*   If device width is >= 1130px   */





 /*   If device width is >= 700px and <= 1130px  */
 /*  (min-width: 700px) and (max-width: 1130px) */
@media screen and (min-width: 700px){

  .intro:before {
    content: "";
    display: block; width: 105px; height: 30px;
    position: fixed; top: 154px; left: 3%;
  }

	[role="article"], [role="banner"]{
    padding: 0 10% 10em 10%;
    text-align: right;
    position: relative;
  }

	[role="article"] h3#design{
    position: relative;
    top: -0.75em;
    left: 50%;
    width: 10em;
    text-align: left;
    letter-spacing: 0; }

	[role="article"] h3#design:after {
    position: absolute;
    top: 0; }

	[role="banner"] {
    text-align: right;
    position: relative
    left: 0;
    margin-top: 0;
    padding-left: 5%;
    padding-right: 35%;
    padding-top: 200px;
    padding-bottom: 3em;
  }


	[role="banner"] h1#design {
    font-size: 4.8rem;
    letter-spacing: 0;
    line-height: 0.8;
  }

	[role="banner"] h1#design:after {
    /* position: absolute; */
    top: 15.7em;
    right: 30%; }

}












/*-------------------------------------------
	Animations
-------------------------------------------*/
@-webkit-keyframes FADEY {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.intro {
	-webkit-animation-name: FADEY;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
}


[role="article"] {
	-webkit-opacity: 0;
	-webkit-animation-name: FADEY;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 0.5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1;
}


.page-selection, .design-archives {
	-webkit-opacity: 0;
	-webkit-animation-name: FADEY;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1;
}


h1 {
  font-size: 48px\9;
  text-transform: uppercase\9;
  margin: 0\9;
  padding-top: 30px\9;
}



/* ====================================================*/

.texter {
    list-style: none;
    text-align: left;
    word-wrap: break-word;
    font-family: "CMUSerifRoman", Georgia;
}




/*CSS Blockquote Template*/
blockquote {
    color: var(--QuoteColor);
    margin: 1.5em 10px;
    padding: .5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: var(--QuoteColor);
    /*content: open-quote;*/
    content: "\201C";
    font-size: 8rem;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}

blockquote p {
    font-size: 2rem;
    display: inline;
}

blockquote cite {
  color: var(--QuoteColor);
  /*font-size: 14px;*/
  display: block;
  text-align: right;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}





/*-------------------------------------------
    Tooltip on hover
-------------------------------------------*/

/* setup tooltips */
[description] {
  position: relative;
}
[description]:before,
[description]:after {
  opacity: 0;
  display: block;
  pointer-events: none;
  position: absolute;
}
[description]:after {
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid var(--descriptionBgColor);
  overflow-y:hidden; /* Prevent toolbar from affecting scroller */
  height: 0;
    top: 25px;
    left: 20px;
  width: 0;
  z-index: 5;
}
[description]:before {
  background: var(--descriptionBgColor);
  border-radius: 10px;
  color: var(--descriptionTextColor);
  content: attr(description);
  min-width: 200px;
  /* text-align: justify; */
  font-size: 12px;
  text-transform: none;
  font-weight: 10;
  padding: 6px 10px;
    top: 37px;
  z-index: 5;
}

/* the animation */
[description]:before,
[description]:after {
  transform-origin: 0 0;
  transform: translate3d(0,30px,0) rotate3d(1,0,0,90deg);
  transition: transform .15s ease-in-out, opacity .2s ease-in-out;
}
[description]:hover:before,
[description]:hover:after {
  opacity: 1;
  transform: translate3d(0,0,0) rotate3d(1,1,1,0deg);
}








/*-------------------------------------------
    p5js specific
-------------------------------------------*/


/* STICKY CANVAS BACKGROUND */
.stickyCanvasBackground{
  position: fixed; top: 0; left: 0;
  z-index: -1;
}
