:root {
    --C1: rgb(75,80,63);
    --C2: rgba(242,242,242,0.4);
    --C3: rgb(217,216,210);
    --C4: rgb(92,81,72);
    --C5: rgb(166,115,96);
}

body {
  color: black;
  font-size: 16px;
  font-family: Baskerville, helvetica;
}

h1 {
  color: var(--C1);
  font-style: normal;
  font-weight: lighter;
  font-size: 50px;
}

div {
  display: inline-block;
}


input[type=range]:before {
  width: 25%;
  left: 2%;
  height: 10px;
  display: block;
  position: absolute;
  text-align: left;
  z-index: 2;
  color: var(--C2);
  font-size: 23px;
  content: attr(text);
}
input[type=range]:after {
  width: 25%;
  right: 50%;
  height: 10px;
  display: block;
  position: absolute;
  text-align: left;
  z-index: 2;
  color: var(--C2);
  font-size: 23px;
  content: attr(value);
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  min-width: 100px;
  margin: -2.3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  background: var(--C1);
  border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
  height: 21px;
  width: 21px;
  border-radius: 14px;
  background: var(--C5);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 2.3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--C1);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  background: var(--C1);
  border-radius: 25px;
}
input[type=range]::-moz-range-thumb {
  height: 21px;
  width: 21px;
  border-radius: 14px;
  background: var(--C5);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--C1);
  border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
  background: var(--C1);
  border-radius: 50px;
}
input[type=range]::-ms-thumb {
  width: 21px;
  border-radius: 14px;
  background: var(--C5);
  cursor: pointer;
  height: 21px;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--C1);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--C1);
}
